<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Productos</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div *ngFor="let product of productos" class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="/producto/{{product.id_producto}}">
                                            <img src="{{product.ruta_foto}}" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="/producto/{{product.id_producto}}">
                                            <h4 class="card-title">{{product.nombre}}</h4>
                                        </a>
                                        <p class="card-description">
                                            {{product.descripcion}}
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price"> &euro; {{product.precio}}</span>
                                            </div>
                                            <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Remove from wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="#">
                                            <img src="assets/img/tom-ford.jpg" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Tom Ford</h4>
                                        </a>
                                        <p class="card-description">
                                            Immaculate tailoring is TOM FORD's forte.
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price"> &euro; 879</span>
                                            </div>
                                            <button class="btn btn-neutral btn-icon btn-round pull-right"  placement="top" ngbTooltip="Add to wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="#">
                                            <img src="assets/img/wooyoungmi.jpg" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Wooyoungmi</h4>
                                        </a>
                                        <p class="card-description">
                                            Dark-grey slub wool, pintucked notch lapels.
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price">&euro; 555</span>
                                            </div>
                                            <button class="btn btn-neutral btn-icon btn-round pull-right"  placement="top" ngbTooltip="Add to wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="#">
                                            <img src="assets/img/sweeney.jpg" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Thom Sweeney</h4>
                                        </a>
                                        <p class="card-description">
                                            It's made from lightweight grey wool woven.
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price"> &euro; 680</span>
                                            </div>
                                            <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Add to wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="#">
                                            <img src="assets/img/kingsman.jpg" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Kingsman</h4>
                                        </a>
                                        <p class="card-description">
                                            Crafted from khaki cotton and fully canvassed.
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price"> &euro; 725</span>
                                            </div>
                                            <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Remove from wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-lg-4 col-md-6">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="#">
                                            <img src="assets/img/boglioli.jpg" alt="..." />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <a href="#">
                                            <h4 class="card-title">Boglioli</h4>
                                        </a>
                                        <p class="card-description">
                                            Masterfully crafted in Northern Italy.
                                        </p>
                                        <div class="card-footer">
                                            <div class="price-container">
                                                <span class="price">&euro; 699</span>
                                            </div>
                                            <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Add to wishlist">
                                                <i class="now-ui-icons ui-2_favourite-28"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end-main-raised -->
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/">
                            AyD2 - Lab Grupo 4
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/-/blob/master/README.md">
                            Aerca de
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, AyD2 G4
            </div>
        </div>
    </footer>
</div>
