<div class="page-header section-image">
    <div class="page-header-image" style="background-image:url(assets/img/bg18.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="card card-signup">
                        <div class="card-body">
                            <h4 class="card-title text-center">Registro</h4>
                            <form class="form" method="" action="">
                                <div class="input-group" [ngClass]="{'input-group-focus':focus_nombre===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Usuario"
                                        (focus)="focus_nombre=true" (blur)="focus_nombre=false" name="nombre"
                                        [(ngModel)]="nombre">
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus_contrasena===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons objects_key-25"></i></span>
                                    </div>
                                    <input type="password" placeholder="Contraseña" class="form-control"
                                        (focus)="focus_contrasena=true" (blur)="focus_contrasena=false"
                                        name="contrasena" [(ngModel)]="contrasena">
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            [(ngModel)]="tipo_usuario" value="cliente" [checked]="true">
                                        <span class="form-check-sign"></span>
                                        Cliente
                                    </label>
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            [(ngModel)]="tipo_usuario" value="usuario">
                                        <span class="form-check-sign"></span>
                                        Usuario
                                    </label>
                                </div>
                                <!-- If you want to add a checkbox to this form, uncomment this code -->
                                <div class="card-footer text-center">
                                    <button class="btn btn-primary btn-round btn-lg"
                                        (click)="registrar() || open(modal_mini)">Registrarme</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/">
                            AyD2 - Lab Grupo 4
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/-/blob/master/README.md">
                            Aerca de
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, AyD2 G4
            </div>
        </div>
    </footer>
</div>
<ng-template #modal_mini let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_circle-08"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Porfavor verificar los datos</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>