<div class="cd-section" id="blogs">
    <div class="blogs-1" id="blogs-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Listado de Ordenes</h2>
                    <br />
                    <div *ngFor="let orden of ordenes" class="card card-plain card-blog">
                        <div class="row">
                            <H1>Orden #{{orden.id_orden}}</H1>
                            <div class="col-md-10 mr-auto ml-auto">
                                <h6 class="category text-info">Total: &euro; {{orden.total}}</h6>
                                <h3 class="card-title">
                                    <a href="#pablo">Status: {{orden.estado}}</a>
                                </h3>
                                <p class="card-description">
                                    Fecha: {{orden.fecha}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>