<div class="wrapper">
    <div class="main">
        <div class="contact-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 ml-auto mr-auto">
                        <h2 class="title">Editar producto</h2>
                        <p class="description">Bienvenido, {{usuario}} aquí puedes modificar los productos ya existentes en el catálogo.
                            <br>
                            <br>
                        </p>
                        <form role="form" id="contact-form" method="post">
                            <label>Nombre</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="Nombre"   (focus)="focus=true" (blur)="focus=false" name="nombre" [(ngModel)]="producto.nombre">
                            </div>
                            <label>Ruta Foto</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="Ruta de imágen"   (focus)="focus1=true" (blur)="focus1=false" name="ruta_foto" [(ngModel)]="producto.ruta_foto">
                            </div>
                            <label>Precio</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons tech_mobile"></i></span>
                              </div>
                                <input type="number" placeholder="Precio" class="form-control"   (focus)="focus2=true" (blur)="focus2=false" name="precio" [(ngModel)]="producto.precio">
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea name="message" class="form-control" id="message" rows="6" name="descripcion" [(ngModel)]="producto.descripcion"></textarea>
                            </div>
                            <div class="submit text-center">
                                <button (click)="actualizarProducto()" class="btn btn-primary btn-raised btn-round">Actualizar Producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/">
                            AyD2 - Lab Grupo 4
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/-/blob/master/README.md">
                            Aerca de
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, AyD2 G4
            </div>
        </div>
    </footer>
</div>
