<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="content-center">
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="card-header text-center">
                            <div class="logo-container">
                                <img src="assets/img/now-logo.png" alt="">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="input-group" [ngClass]="{'input-group-focus':focus_nombre===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="now-ui-icons users_circle-08"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Usuario"
                                    (focus)="focus_nombre=true" (blur)="focus_nombre=false" name="nombre"
                                    [(ngModel)]="nombre">
                            </div>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus_contrasena===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="now-ui-icons objects_key-25"></i></span>
                                </div>
                                <input type="password" placeholder="Contraseña" class="form-control"
                                    (focus)="focus_contrasena=true" (blur)="focus_contrasena=false" name="contrasena"
                                    [(ngModel)]="contrasena">
                            </div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        [(ngModel)]="tipo_usuario" value="cliente" [checked]="true">
                                    <span class="form-check-sign"></span>
                                    Cliente
                                </label>
                            </div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        [(ngModel)]="tipo_usuario" value="usuario">
                                    <span class="form-check-sign"></span>
                                    Usuario
                                </label>
                            </div>


                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-primary btn-round btn-lg btn-block"
                                (click)="login() || open(modal_mini)">Iniciar Sesión</button>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="/register" class="link footer-link">Crear cuenta</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/">
                            AyD2 - Lab Grupo 4
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/-/blob/master/README.md">
                            Aerca de
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, AyD2 G4
            </div>
        </div>
    </footer>
</div>

<ng-template #modal_mini let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_circle-08"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Porfavor verificar los datos</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Cerrar</button>
    </div>
</ng-template>