<nav class="navbar navbar-expand-lg bg-white fixed-top" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/']" placement="bottom" ngbTooltip="Grupo 4">
                AyD2 - G4 {{titulo}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <div *ngIf="hayUsuario; then bloqueA else bloqueB"></div>
            <ng-template #bloqueA>
                <ul class="navbar-nav ml-auto">
                    <li *ngIf="esUsuario" class="nav-item">
                        <a class="nav-link" [routerLink]="['/crear-producto']">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            <p>Crear Producto</p>
                        </a>
                    </li>
                    <li *ngIf="esUsuario" class="nav-item">
                        <a class="nav-link" [routerLink]="['/ordenes']">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            <p>Ordenes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/carrito']">
                            <i class="now-ui-icons shopping_cart-simple"></i>
                            <p>Carrito</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button (click)="logout()" class="nav-link">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Cerrar Sesión</p>
                        </button>
                    </li>
                </ul>
            </ng-template>
            <ng-template #bloqueB>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Login</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">
                            <i class="now-ui-icons ui-1_check"></i>
                            <p>Register</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/carrito']">
                            <i class="now-ui-icons shopping_cart-simple"></i>
                            <p>Carrito</p>
                        </a>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>