<div class="wrapper">
    <div class="page-header page-header-mini">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-position: top;background-image: url('https://image.shutterstock.com/z/stock-photo-various-of-asian-meals-on-rustic-background-top-view-place-for-text-asian-food-concept-1075946798.jpg') ;">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title"> {{producto.nombre}} <small *ngIf="esUsuario"><a href="/editar-producto/{{id}}">EDITAR</a></small> </h2>
                    <h2 class="main-price">&euro; {{producto.precio}}</h2>
                    <div class="row justify-content-end">
                        <button (click)="addToCart()" class="btn btn-primary mr-3">Agregar al carrito &nbsp;<i
                                class="now-ui-icons shopping_cart-simple"></i></button>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div class="image-container" style="background-image: url({{producto.ruta_foto}}); background-size: contain; background-repeat: no-repeat;">
                                <!-- First image on the left side -->
                            </div>
                        </div>
                        <p class="blockquote blockquote-primary" style="background-color: white;">{{producto.descripcion}}
                            <br>
                            <br>
                            <small> - AyD2</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/">
                            AyD2 - Lab Grupo 4
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/RobertoCux201503464/practica1_analisis2/-/blob/master/README.md">
                            Aerca de
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, AyD2 G4
            </div>
        </div>
    </footer>
</div>