<div class="cd-section" id="blogs">
    <div class="blogs-1" id="blogs-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Tu carrito de compras</h2>
                    <br />
                    <div *ngFor="let item of carrito.elementos" class="card card-plain card-blog">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <img class="img img-raised rounded" src="{{item.producto.ruta_foto}}" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h6 class="category text-info">&euro; {{item.producto.precio}} x {{item.cantidad}}</h6>
                                <h3 class="card-title">
                                    <a href="#pablo">{{item.producto.nombre}}</a>
                                </h3>
                                <p class="card-description">
                                    {{item.producto.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <h1>Total: &euro; {{carrito.total}} </h1>
                    <button (click)="generarOrden()" class="btn btn-simple btn-sm pull-right">Generar Orden</button>
                </div>
            </div>
        </div>
    </div>
</div>